@tailwind base;
@tailwind components;
@tailwind utilities;

input,
select {
  border-radius: 0.25rem;
  border: 2px solid #a8a29e;
  padding: 0.25rem 0.75rem;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #3a82f6;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
